.header{
  padding-bottom: 10px;
  background: linear-gradient(#0e2058, #07102c);
  color: white;
}
.header a{
  color: #D9E4EC;
  text-decoration: none;
  text-align: right;
  float: right;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.header a:hover{
  color: white;
  transition: 0.5s;
}
.header button{
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-size: 25px;
  padding: 15px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.header button:hover{
  background-color: #D9E4EC;
  color: black;
  transition: 0.5s;
}

.header h1{
  display: inline-block;
  text-align: left;
  margin: 10px;
  font-size: 75px;
  cursor: pointer;
  transition: 0.5s;
}
.header h1:hover{
  color: #D9E4EC;
  transition: 0.5s;
}
.loginbtn{
  display: inline-block;
}
.header_left{
  margin-left: 75px;
}

canvas {
    border:1px solid white;
    background-color: #f1f1f1;
}
