h2 {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(#07102c, #111111);
  color: white;
  font-family: 'Roboto Mono', monospace;
  overflow-y: scroll;
}
hr{
  color: white;
}

.page-content, .promotion_Container, .Login_Container, .BuildPc_Container, .Cart_Container{
  min-height: 500px;
}
